.speech{
    font-style: italic;
    color:black;
    font-size:20px;
}

.direction{
    font-style: Serif;
    color:black;
    font-size: 20px;
    background-color: teal;

}

.direction:hover {
    background-color:rgb(97, 11, 20);
    color:lavenderblush;
    font-size: 20px;
  }

  .HE{
    background-color: cyan;
    font-style: Serif;
  }

  .SHE{
    background-color: pink;
    font-style:Sans-serif ;
  }
  .table{
    border: 6px solid;
    width:35%;
    padding: 4px;
    border-spacing: 4px;
    border-color: rgb(17, 235, 235);
    margin: 0 25px 25px 0;
    
  }
  .th{
    
    height: 50px;
    text-align: center;
    border-bottom: 6px solid #ec0882;
    border-top: 2px solid #ec0882;
    border-left: 3px solid #ec0882;
    border-right: 3px solid #ec0882;


  }
  .td{
    border: 2px solid #33e388;
    height: 30px;
    vertical-align: bottom;
    padding: 15px;
    border-bottom: 6px solid #33e388; 
  }
  tr:nth-child(even) {
    background-color: rgb(103, 103, 245);
  }
  tr:nth-child(odd) {
    background-color: rgb(142, 215, 64);
}
.SHE:hover{
  width: 100px;
  height: 30px;
  padding: 15px;
  background-color: rgb(163, 55, 16);
  box-shadow: 10px 10px 5px rgb(30, 0, 85);
  text-shadow: 2px 2px rgb(55, 232, 15);
  font-size: 25px;
}
.HE:hover{
  width: 150px;
  height: 30px;
  padding: 15px;
  background-color: rgb(81, 220, 223);
  box-shadow: 10px 10px 5px rgb(250, 4, 33);
  text-shadow: 2px 2px rgb(144, 231, 6);
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: palevioletred;
}